version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      TIME_ZONE: ${TIME_ZONE}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}   
    ports:
      - "${POSTGRES_PORT}:5432" 
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
       desafio:
         aliases:
           - postgres

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - postgres
    networks:
       desafio:
         aliases:
           - pgadmin
    

  web_api:
   build: ./api
   container_name: web_api
   restart: always
   environment:
     URL_DB: ${URL_DB}
   ports:
     - "${API_PORT}:8000"
   networks:
     desafio:
       aliases:
         - api
   depends_on:
      - postgres

  dashboard:
    build: ./dashboard
    container_name: dashboard
    restart: always
    ports:
      - "${DASH_PORT}:8501"
    networks:
     desafio:
       aliases:
         - dashboard
    




networks:
  desafio:
volumes:
  postgres: